/* 中间定宽，两边自适应 */
.container{
  display: flex;
  height: 200px;
}

.left{
  flex: auto;
  background-color: red;
}

.middle{
  width: 500px;
  background-color: yellow;
}

.right{
  flex: auto;
  background-color: blue;
}